.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding: 20px;
  background-color: #f3f4f6; /* Light background color */
  height: 100vh; /* Full height */
}

.form {
  width: 100%; /* Full width for the form */
  max-width: 500px; /* Limit the form width */
}
