input[type="file"] {
  margin: 20px 0;
}
img {
  border: 1px solid #ccc;
  border-radius: 5px;
}
body {
  font-family: "Roboto", sans-serif; /* Change 'Roboto' to your chosen font */
  margin: 0; /* Reset margin to avoid default body margins */
  padding: 0; /* Reset padding to avoid default body padding */
  box-sizing: border-box; /* Set box-sizing to border-box */
}
